<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Dating App</a>



      <ul *ngIf="accountService.currentUser()" class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" >Messages</a>
        </li>
      </ul>
    <!-- dropdown login-->
    @if (accountService.currentUser()) {
      <div dropdown class="dropdown">
        <a dropdownToggle class="dropdown-toggle text-light text-decoration-none" >Welcome {{model.username}}</a>
        <div *dropdownMenu class="dropdown-menu">
          <a class="dropdown-item " >Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item " (click)="logout()">logout</a>
        </div>
      </div>
    }
    <!-- dropdown login end-->

      @if(!accountService.currentUser()){
        <form #loginForm="ngForm" (ngSubmit)="login()" class="d-flex" autocomplete="off">
          <input  [(ngModel)]="model.username"
          name="username" class="form-control me-2" type="text" placeholder="Username">

          <input name="password" [(ngModel)]="model.password"
           class="form-control me-2" type="password" placeholder="Password">
          <button class="btn btn-outline-success" type="submit">Login</button>
        </form>
      }

    </div>

</nav>
